/*

Principles:
1. Use the base colour to distinguish between different vaults.
2. Separate content (white/black background) from controls (accent colour background)
3. Use spacing for grouping rather than lines
4. Distinguish controls visually
5. Buttons are lighter, content containers darker

*/

/* @settings

name: Kakano
id: kakano-style
settings:
  -
    id: base
    title: Base color
    description: 'Base color, from which the Kakano theme will generate background gradients.'
    type: variable-color
    format: hsl-split
    default: '#007AFF'
  -
    id: setting-properties-position
    title: 'Properties position'
    description: 'Place properties before or after your main note content. Note that this only applies to Live Preview mode'
    type: class-select
    allowEmpty: false
    default: 'setting-properties-position-above'
    options:
      -
        label: 'Above main note content'
        value: 'setting-properties-position-above'
      -
        label: 'Below main note content'
        value: 'setting-properties-position-below'
*/

/* Variables for both light and dark */
body {
  --background-secondary: transparent;
  --callout-padding: 0.75em 1.5em;
  --checkbox-border-color-hover: var(--interactive-accent-hover);
  --checkbox-border-color: var(--interactive-accent);
  --checkbox-color: var(--interactive-accent);
  --divider-width: 0;
  --file-line-width: 40rem;
  --file-margins: 0;
  --inline-title-size: var(--font-ui-medium);
  --inline-title-weight: bold;
  --input-border-width: 2px;
  --metadata-property-background-hover: var(--nav-item-background-hover);
  --modal-border-color: black;
  --modal-border-width: 0;
  --prompt-border-color: transparent;
  --prompt-border-width: 0;
  --ribbon-background-collapsed: transparent;
  --ribbon-background: transparent;
  --ribbon-width: 3em;
  --status-bar-text-color: var(--text-normal);
  --tab-container-background: transparent;
  --tab-curve: calc(var(--tab-radius) * 0.5);
  --tab-outline-width: 0;
  --tab-radius-active: 0.25em;
  --tab-radius: 0.25em;
  --titlebar-background-focused: transparent;
  --titlebar-background: transparent;

  /* Base all theme colours off these */
  /* The base HSL variables will be overridden by Style Settings if installed, otherwise they'll use the accent colour. */
  --base-h: var(--accent-h);
  --base-s: var(--accent-s);
  --base-l: var(--accent-l);

  /* The base color */
  --theme-color-base: hsl(var(--base-h), calc(var(--base-s) * 1.0), calc(var(--base-l) * 1.0));

  /*  Base colour variants */
  --theme-color-baseVeryVeryLightened: color-mix(in srgb, var(--theme-color-base), white 95%);
  --theme-color-baseVeryLightened: color-mix(in srgb, var(--theme-color-base), white 80%);
  --theme-color-baseLightened: color-mix(in srgb, var(--theme-color-base), white 70%);
  --theme-color-baseSlightlyLightened: color-mix(in srgb, var(--theme-color-base), white 50%);
  --theme-color-baseSlightlyDarkened: color-mix(in srgb, var(--theme-color-base), black 50%);
  --theme-color-baseDarkened: color-mix(in srgb, var(--theme-color-base), black 70%);
  --theme-color-baseVeryDarkened: color-mix(in srgb, var(--theme-color-base), black 80%);
  --theme-color-baseVeryVeryDarkened: color-mix(in srgb, var(--theme-color-base), black 95%);

  --theme-color-baseTransparent: hsla(var(--base-h), var(--base-s), var(--base-l), 0.5);
  --theme-color-baseSlightlyTransparent: hsla(var(--base-h), var(--base-s), var(--base-l), 0.75);
  --theme-color-baseVeryTransparent: hsla(var(--base-h), var(--base-s), var(--base-l), 0.25);
}
body,
body .metadata-property:not([data-property-key="tags"]),
body .metadata-property[data-property-key="tags"] {
  --pill-padding-x: 1em;
  --pill-padding-y: 0.125em;
}

.theme-light {
  /* Built-in variables */
  --background-modifier-border-focus: var(--theme-color-base);
  --background-modifier-border: var(--theme-color-baseSlightlyLightened);
  --background-modifier-hover: var(--theme-color-base);
  --background-modifier-active-hover: var(--theme-color-baseLightened);
  --background-modifier-active-hover-alt: var(--theme-color-baseSlightlyLightened);
  --blockquote-border-color: var(--theme-color-baseVeryLightened);
  --empty-pane-color: var(--theme-color-baseDarkened);
  --icon-color-focused: white;
  --icon-color-hover: hsl(var(--base-h), calc(var(--base-s) * 0.2), calc(var(--base-l)*1.5));
  --icon-color-hover: white;
  --icon-color: var(--theme-color-base);
  --modal-background: var(--theme-color-baseVeryLightened);
  --nav-collapse-icon-color-collapsed: var(--theme-color-base);
  --nav-collapse-icon-color: var(--theme-color-base);
  --nav-indentation-guide-color: var(--theme-color-baseSlightlyLightened);
  --nav-item-background-active: var(--theme-color-base);
  --nav-item-background-hover: var(--theme-color-baseSlightlyLightened);
  --nav-item-background-selected: var(--theme-color-baseVeryTransparent);
  --nav-item-color-active: var(--theme-color-baseLightened);
  --nav-item-color: var(--theme-color-baseDarkened);
  --search-icon-color: var(--theme-color-base);
  --shadow-l: 0 0.125rem 0.5rem hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.5), 0.2), 0 0.875rem 1.7rem hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.5), 0.15), 0 2rem 6rem hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.5), 0.25);
  --status-bar-text-color: black;
  --tab-background-active: var(--background-primary);
  --tab-background-inactive: var(--theme-color-baseVeryLightened);
  --text-normal: var(--theme-color-baseVeryDarkened);
  --text-faint: var(--theme-color-baseDarkened);
  --background-prompt: var(--theme-color-baseVeryVeryLightened);
  --status-bar-background: var(--theme-color-baseLightened);
  --interactive-accent: var(--theme-color-base);
  --interactive-accent-hover: var(--theme-color-base);
  --slider-track-background: var(--theme-color-baseLightened);

  --metadata-property-background: var(--theme-color-baseVeryVeryLightened);
  --metadata-property-background-hover: var(--theme-color-baseVeryLightened);
  --metadata-label-background-active: var(--theme-color-baseVeryVeryLightened);
  --metadata-input-background-active: var(--theme-color-baseVeryVeryLightened);

  /* Background for content area */
  --background-primary: white;
  /* Background for controls area */
  --background-secondary: var(--theme-color-baseLightened);


  /* New variables for this theme */
  --background-close-hover: var(--theme-color-baseVeryTransparent);
  --background-control-hover: var(--theme-color-base);
  --background-control: var(--theme-color-baseVeryVeryLightened);
  --background-inactive-tab-hover: var(--theme-color-baseLightened);
  --background-input: var(--theme-color-baseLightened);
  --background-interactive-active: var(--theme-color-baseSlightlyLightened);
  --background-mod-root: linear-gradient(0deg, var(--theme-color-baseLightened) 0%, var(--theme-color-baseSlightlyLightened) 100%);
  --background-secondary-gradient-bottom: var(--theme-color-baseSlightlyLightened);
  --background-secondary-gradient-top: var(--theme-color-baseLightened);
  --background-side-dock-actions: transparent;
  --background-switcher-active: var(--theme-color-base);
  --color-text-interactive-active: var(--color-text-interactive);
  --color-text-interactive-content-area-hover: var(--theme-color-baseVeryLightened);
  --color-text-interactive-content-area: var(--theme-color-base);
  --color-text-interactive-hover: var(--theme-color-baseLightened);
  --color-text-interactive: var(--theme-color-baseSlightlyDarkened);
  --controls-container-background: var(--theme-color-baseVeryLightened);
  --modal-background-search-results: linear-gradient(0deg, var(--theme-color-baseVeryLightened) 0%, var(--theme-color-baseSlightlyLightened) 100%);
  --modal-background-vertical-tab-header: linear-gradient(0deg, var(--theme-color-baseVeryLightened) 0%, var(--theme-color-baseSlightlyLightened) 100%);
  --theme-color-checkboxBgOff: var(--theme-color-baseLightened);
  --theme-color-communityItemBg: var(--theme-color-baseVeryLightened);
  --theme-color-communityItemBgActive: var(--theme-color-base);
  --theme-color-communityItemBgHover: var(--theme-color-baseLightened);
  --theme-color-communityItemBgSelected: var(--theme-color-baseSlightlyLightened);
  --theme-color-contentItemBg: rgba(255, 255, 255, 0.2);
  --theme-color-contentItemBgActive: var(--theme-color-base);
  --theme-color-contentItemBgHover: rgba(255, 255, 255, 0.1);
  --theme-color-controlText: var(--theme-color-baseDarkened);
  --theme-color-controlTextHover: var(--theme-color-baseVeryLightened);
  --theme-color-graphViewBg: var(--theme-color-baseVeryVeryLightened);
  --theme-color-hotkey: var(--theme-color-base);
  --theme-color-inputBorder: var(--theme-color-baseSlightlyLightened);
  --theme-color-inputPlaceholder: var(--theme-color-base);
  --theme-color-navFileTag: var(--theme-color-base);
  --theme-color-navFileTagActive: var(--nav-item-color-active);
  --theme-color-navFileTagActiveBorder: var(--nav-item-color-active);
  --theme-color-navFileTagBorder: var(--theme-color-base);
  --theme-color-settingsBg: var(--theme-color-baseVeryLightened);
  --theme-color-settingsBgStripe: var(--theme-color-baseVeryVeryLightened);
  --theme-color-suggestionBg: var(--theme-color-baseVeryLightened);
  --theme-color-textMeta: var(--theme-color-base);
  --theme-color-textSelected: var(--theme-color-baseVeryLightened);
  --theme-color-textTabInactive: var(--theme-color-baseSlightlyDarkened);
  --theme-shadow-control: 0px 1px 2px hsla(var(--base-h), calc(var(--base-s) * 1.5), calc(var(--base-l)*0.75), 0.5);
  --theme-shadow-input: 0px 1px 2px hsla(var(--base-h), calc(var(--base-s) * 1.5), calc(var(--base-l)*0.5), 0.2), 0px 3.4px 6.7px hsla(var(--base-h), calc(var(--base-s) * 1), calc(var(--base-l)*0.5), 0.15), 0px 15px 30px hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.5), 0.05);
}
.theme-light,
.theme-light .metadata-property:not([data-property-key="tags"]),
.theme-light .metadata-property[data-property-key="tags"] {
  --pill-background: var(--theme-color-baseSlightlyLightened);
  --pill-background-hover: var(--theme-color-base);
  --pill-color: white;
  --pill-color-hover: white;
  --pill-color-remove: var(--theme-color-baseVeryLightened);
  --pill-color-remove-hover: var(--theme-color-baseVeryLightened);
  --pill-background-remove-hover: var(--theme-color-baseSlightlyLightened);
}

.theme-dark {
  /* Built-in variables */
  --background-modifier-border-focus: var(--theme-color-baseSlightlyDarkened);
  --background-modifier-border: var(--theme-color-baseSlightlyDarkened);
  --background-modifier-hover: var(--theme-color-base);
  --background-modifier-active-hover: var(--theme-color-baseDarkened);
  --background-modifier-active-hover-alt: var(--theme-color-baseSlightlyDarkened);
  --blockquote-border-color: var(--theme-color-baseVeryDarkened);
  --empty-pane-color: var(--theme-color-baseDarkened);
  --icon-color-focused: white;
  --icon-color-hover: hsl(var(--base-h), calc(var(--base-s) * 0.2), calc(var(--base-l)*1.5));
  --icon-color-hover: white;
  --icon-color: var(--theme-color-base);
  --modal-background: var(--theme-color-baseVeryDarkened);
  --nav-collapse-icon-color-collapsed: var(--theme-color-base);
  --nav-collapse-icon-color: var(--theme-color-base);
  --nav-indentation-guide-color: var(--theme-color-baseDarkened);
  --nav-item-background-active: var(--theme-color-base);
  --nav-item-background-hover: var(--theme-color-baseSlightlyDarkened);
  --nav-item-background-selected: var(--theme-color-baseVeryTransparent);
  --nav-item-color-active: var(--theme-color-baseDarkened);
  --nav-item-color: var(--theme-color-base);
  --search-icon-color: var(--theme-color-base);
  --shadow-l: 0 0.125rem 0.5rem hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.1), 0.2), 0 0.875rem 1.7rem hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.1), 0.15), 0 2rem 6rem hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.1), 0.25);

  --tab-background-active: var(--background-primary);
  --tab-background-inactive: var(--theme-color-baseVeryDarkened);
  --background-inactive-tab-hover: var(--theme-color-baseDarkened);
  --text-normal: var(--theme-color-baseLightened);
  --text-faint: var(--theme-color-baseSlightlyLightened);
  --background-prompt: var(--theme-color-baseVeryDarkened);
  --status-bar-background: var(--theme-color-baseVeryDarkened);
  --interactive-accent: var(--theme-color-base);
  --slider-track-background: var(--theme-color-base);

  --metadata-property-background: var(--theme-color-baseVeryVeryDarkened);
  --metadata-property-background-hover: var(--theme-color-baseVeryDarkened);
  --metadata-label-background-active: var(--theme-color-baseVeryVeryDarkened);
  --metadata-input-background-active: var(--theme-color-baseVeryVeryDarkened);

  /* Background for content area */
  --background-primary: #111111;
  /* Background for controls area */
  --background-secondary: var(--theme-color-baseDarkened);

  /* New variables for this theme */
  --background-close-hover: var(--theme-color-baseVeryTransparent);
  --background-control-hover: var(--theme-color-base);
  --background-control: var(--theme-color-baseSlightlyDarkened);
  --background-inactive-tab-hover: var(--theme-color-baseSlightlyDarkened);
  --background-input: var(--theme-color-baseDarkened);
  --background-interactive-active: var(--theme-color-baseSlightlyDarkened);
  --background-mod-root: linear-gradient(0deg, var(--theme-color-baseVeryDarkened) 0%, var(--theme-color-baseDarkened) 100%);
  --background-secondary-gradient-bottom: var(--theme-color-baseDarkened);
  --background-secondary-gradient-top: var(--theme-color-baseVeryDarkened);
  --background-side-dock-actions: transparent;
  --background-switcher-active: var(--theme-color-base);
  --color-text-interactive-active: var(--color-text-interactive);
  --color-text-interactive-content-area-hover: var(--theme-color-baseVeryDarkened);
  --color-text-interactive-content-area: var(--theme-color-baseLightened);
  --color-text-interactive-hover: var(--theme-color-baseDarkened);
  --color-text-interactive: var(--theme-color-baseSlightlyLightened);
  --controls-container-background: var(--theme-color-baseVeryDarkened);
  --modal-background-search-results: linear-gradient(0deg, var(--theme-color-baseDarkened) 0%, var(--theme-color-baseVeryDarkened) 100%);
  --modal-background-vertical-tab-header: linear-gradient(0deg, var(--theme-color-baseDarkened) 0%, var(--theme-color-baseVeryDarkened) 100%);
  --theme-color-checkboxBgOff: var(--theme-color-baseDarkened);
  --theme-color-communityItemBg: var(--theme-color-baseVeryDarkened);
  --theme-color-communityItemBgActive: var(--theme-color-base);
  --theme-color-communityItemBgHover: var(--theme-color-baseDarkened);
  --theme-color-communityItemBgSelected: var(--theme-color-baseSlightlyDarkened);
  --theme-color-contentItemBg: rgba(0, 0, 0, 0.2);
  --theme-color-contentItemBgActive: var(--theme-color-base);
  --theme-color-contentItemBgHover: rgba(0, 0, 0, 0.1);
  --theme-color-controlText: var(--theme-color-baseLightened);
  --theme-color-controlTextHover: var(--theme-color-baseVeryDarkened);
  --theme-color-graphViewBg: var(--theme-color-baseVeryVeryDarkened);
  --theme-color-hotkey: var(--theme-color-base);
  --theme-color-inputBorder: var(--theme-color-baseSlightlyLightened);
  --theme-color-inputPlaceholder: var(--theme-color-base);
  --theme-color-navFileTag: var(--theme-color-baseSlightlyDarkened);
  --theme-color-navFileTagActive: var(--nav-item-color-active);
  --theme-color-navFileTagActiveBorder: var(--nav-item-color-active);
  --theme-color-navFileTagBorder: var(--theme-color-baseSlightlyDarkened);
  --theme-color-settingsBg: var(--theme-color-baseVeryDarkened);
  --theme-color-settingsBgStripe: var(--theme-color-baseVeryVeryDarkened);
  --theme-color-suggestionBg: var(--theme-color-baseVeryDarkened);
  --theme-color-textMeta: var(--theme-color-base);
  --theme-color-textSelected: var(--theme-color-baseVeryDarkened);
  --theme-color-textTabInactive: var(--theme-color-baseSlightlyLightened);
  --theme-shadow-control: 0px 1px 2px hsla(var(--base-h), calc(var(--base-s) * 0.1), calc(var(--base-l)*0.75), 0.1);
  --theme-shadow-input: 0px 1px 2px hsla(var(--base-h), calc(var(--base-s) * 0.5), calc(var(--base-l)*0.1), 0.5), 0px 3.4px 6.7px hsla(var(--base-h), calc(var(--base-s) * 1), calc(var(--base-l)*0.1), 0.25), 0px 15px 30px hsla(var(--base-h), calc(var(--base-s) * 0.75), calc(var(--base-l)*0.1), 0.15);
}
.theme-dark,
.theme-dark .metadata-property:not([data-property-key="tags"]),
.theme-dark .metadata-property[data-property-key="tags"] {
  --pill-background: var(--theme-color-baseSlightlyDarkened);
  --pill-background-hover: var(--theme-color-base);
  --pill-color: black;
  --pill-color-hover: black;
  --pill-color-remove: var(--theme-color-baseVeryDarkened);
  --pill-color-remove-hover: var(--theme-color-baseVeryDarkened);
  --pill-background-remove-hover: var(--theme-color-baseSlightlyDarkened);
}

/* Typograhy */
body {
  --blockquote-border-thickness: 0.25em;
  /* Use the system font by default for both text and interface, unless user has chosen something else.  */
  --font-default: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace-default: ui-monospace, Menlo, SFMono-Regular, Consolas, "Roboto Mono", 'Source Code Pro', monospace;
  --font-text-theme: var(--font-default);
  --font-interface-theme: var(--font-default);
  --font-monospace-theme: var(--font-monospace-default);
  --font-text-size: 16px;
  --h1-size: 2.25em;
  --h2-size: 1.5em;
  --h3-size: 1.25em;
  --h4-size: 1em;
  --h5-size: 1em;
  --h6-size: 1em;
  --h1-weight: 200;
  --h2-weight: 300;
  --h3-weight: 400;
  --h4-weight: 500;
  --h5-weight: 400;
  --h6-weight: 300;
  --line-height-normal: 1.6;
  --h1-line-height: var(--line-height-normal);
  --h2-line-height: var(--line-height-normal);
  --h3-line-height: var(--line-height-normal);
  --h4-line-height: var(--line-height-normal);
  --h5-line-height: var(--line-height-normal);
  --h6-line-height: var(--line-height-normal);

  /* Hanging punctuation isn't supported in Electron yet (Dec 2023), but here for when it is. */
  hanging-punctuation: first allow-end last;
}
/* Space before headings... */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header {
  padding: 0.67em 0 0 0;
}
/* ...except when they immediately follow another heading */
:is(.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-1,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-2,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-3,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-4,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-5,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-6) + :is(.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-1,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-2,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-3,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-4,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-5,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header-6) {
  padding-top: 0;
}
/* ...or the first on the page */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header:first-child {
  padding-top: 0;
}

.markdown-source-view.mod-cm6 .HyperMD-quote,
.callout {
  font-weight: 300;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  /* Matched to --callout-padding */
  padding: 0 1.5em;
}

.markdown-source-view.mod-cm6 .code-block-flair {
  top: 0.5em;
  right: 0.5em;
}

/* Markdown formatting shown while editing e.g. ### for headings */
.cm-formatting.cm-formatting-header {
  color: var(--theme-color-textMeta);
  font-size: 0.8rem !important;
  vertical-align: middle;
}

/* Mobile */
.is-mobile .workspace > .mod-root {
    padding: 0.5em;
}

/* Tab close button on left, macOS standard */
.mod-macos .workspace .mod-root .workspace-tab-header .workspace-tab-header-inner-close-button {
  position: static;
  order: 0;
}
.mod-macos .workspace .mod-root .workspace-tab-header-inner-icon,
.mod-macos .workspace .mod-root .workspace-tab-header-inner-title {
  order: 1;
}
.mod-macos .modal-close-button {
  left: var(--size-2-3);
  right: auto;
}
.mod-macos .mod-community-modal .modal-sidebar .setting-item:first-child {
  margin-left: auto;
}
.mod-macos .modal-sidebar .community-modal-controls {
  padding-left: var(--size-4-5);
}
.mod-macos .multi-select-pill {
  padding-left: 0.25em;
}
.mod-macos .multi-select-pill .multi-select-pill-remove-button {
  order: 0;
}
.mod-macos .multi-select-pill .multi-select-pill-content {
  order: 1;
  margin: 0;
}

/* Close buttons */
.mod-close,
.modal-close-button,
.document-search-close-button,
.workspace-tab-header-inner-close-button {
  background-color: transparent;
  border-radius: 100%;
  border: none;
  color: var(--color-text-interactive);
}
.workspace-tab-header-inner-close-button .svg-icon {
  stroke: var(--color-text-interactive);
}

.mod-close:hover,
.modal-close-button:hover,
.workspace-tab-header-inner-close-button:hover,
.workspace-tab-header.is-active .workspace-tab-header-inner-close-button:hover,
.mod-sync-history .modal-close-button:hover,
.mod-settings .modal-close-button:hover,
.workspace-tab-header-inner-close-button:hover {
  color: var(--color-text-interactive);
  background-color: var(--background-close-hover);
}

/* close buttons that use a text cross instead of an SVG */
.document-search-close-button,
.modal-close-button {
  padding: var(--size-2-1);
  width: 1em;
  height: 1em;
  display: flex;
  align-content: center;
  --icon-size: var(--icon-s);
  --icon-stroke: var(--icon-s-stroke-width);
  text-align: center;
  justify-content: center;
}
.document-search-close-button:before,
.modal-close-button:before {
  /* This uses a text cross instead of an SVG. Hack for visual alignment. */
  margin-top: -1px;
}

/* Lightweight Buttons */
.markdown-source-view.mod-cm6 .code-block-flair,
.clickable-icon,
.side-dock-actions .side-dock-ribbon-action.clickable-icon {
  align-items: center;
  background-color: transparent;
  border-radius: var(--clickable-icon-radius);
  color: var(--color-text-interactive);
  cursor: var(--cursor);
  display: flex;
  height: auto;
  justify-content: center;
  opacity: var(--icon-opacity);
  padding: var(--size-2-2) var(--size-2-3);
  transition: opacity 0.15s ease-in-out;
}
.markdown-source-view.mod-cm6 .code-block-flair:hover,
.clickable-icon:hover,
.side-dock-actions .side-dock-ribbon-action.clickable-icon:hover {
  color: var(--color-text-interactive-hover);
  background-color: var(--background-modifier-hover);
}
.clickable-icon.is-active {
  opacity: var(--icon-opacity-hover);
  color: var(--color-text-interactive-active);
  background-color: var(--background-interactive-active);
}
.clickable-icon.is-active:hover {
  background-color: var(--background-modifier-hover);
  color: var(--color-text-interactive-hover);
}

/* Pin button (and presumably similar controls), styled same as close button */
.mod-root .workspace-tab-header-status-icon {
  color: var(--color-text-interactive);
  border: none;
  border-radius: 100%;
  background-color: transparent;
}
.mod-root .workspace-tab-header-status-icon:hover {
  color: var(--color-text-interactive);
  background-color: var(--background-modifier-active-hover);
}

/* Overall workspace */
.workspace {
  background-color: var(--background-secondary);
  background: linear-gradient(0deg, var(--background-secondary-gradient-bottom) 0%, var(--background-secondary-gradient-top) 100%);
}

.workspace-tabs .workspace-leaf {
  background: transparent;
}

.workspace-split.mod-root {
  background: transparent;
  background: var(--background-mod-root);
  padding-bottom: 1.5rem;
  padding: 0.5em 0.5em 2em 0.5em;
}

.sidebar-toggle-button,
.workspace-tabs.mod-top,
.is-focused .sidebar-toggle-button,
.is-focused .workspace-tabs.mod-top {
  --tab-container-background: transparent;
}

.workspace-tab-header {
  color: var(--theme-color-textTabInactive);
  background-color: var(--tab-background-inactive);
}


.workspace-tab-header.is-active {
  color: var(--tab-text-color-active);
  background-color: var(--tab-background-active);
  box-shadow: var(--theme-shadow-input);
}

/* Tab styling */
.workspace-tab-header {
  border-radius: var(--tab-radius-active) var(--tab-radius-active) 0 0;
}
.workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
  background-color: var(--background-inactive-tab-hover);
}
.workspace-tab-header-inner:hover .workspace-tab-header-inner-icon {
  color: var(--icon-color);
  opacity: var(--icon-opacity);
}
.workspace-tab-header-container-inner {
  gap: 0.25em;
}

/* Center workspace styling */
.mod-root .workspace-tab-header-container-inner {
  /* Define spacing on tabs to fit with radius */
  padding: 0.5em calc(var(--tab-radius) * 2) 0 calc(var(--tab-radius) * 2);
}
.workspace .mod-root .workspace-tab-header {
  padding: 0;
}

.mod-root .workspace-tab-header-inner {
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: var(--tab-radius-active) var(--tab-radius-active) 0 0;
}
.mod-root .workspace-tab-header.is-active .workspace-tab-header-inner {
  padding-left: 0.25em;
}
.workspace .mod-root .workspace-tab-header-inner::after {
  /* Not sure what this is for */
  background: transparent;
}

.mod-root .workspace-tabs {
  padding: 0 0.5em 0 0.5em;
  border-radius: 0;
}

.mod-root .workspace-tabs .workspace-leaf {
  background-color: var(--background-primary);
  border-radius: var(--tab-radius);
}

.mod-root .workspace-tabs .workspace-leaf.mod-active {
  box-shadow: var(--theme-shadow-input);
}

/* Ribbon styling */

.workspace-ribbon {
  padding-left: 0;
}

.side-dock-actions {
  border-top-right-radius: var(--radius-m);
  border-bottom-right-radius: var(--radius-m);
  padding: var(--size-2-3);
  background: var(--background-side-dock-actions)
}

.side-dock-actions .side-dock-ribbon-action {
  margin: 0;
}

/* Pane styling */
.pane-empty {
  color: var(--empty-pane-color);
}

/* Left/Right workspace tab header styling */
.mod-left-split .workspace-tab-header-container,
.mod-right-split .workspace-tab-header-container {
  justify-content: center;
}

.mod-left-split .workspace-tab-header-container-inner,
.mod-right-split .workspace-tab-header-container-inner {
  background: var(--tab-background-inactive);
}

.mod-left-split .workspace-tab-header-container-inner,
.mod-right-split .workspace-tab-header-container-inner {
  border-radius: var(--radius-s);
  gap: 0;
  padding: 0;
}

.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
  border-radius: 0;
}

.is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-icon {
  color: var(--text-normal);
}

.is-focused .mod-left-split .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.is-focused .mod-right-split .workspace-tab-header.is-active .workspace-tab-header-inner-icon {
  color: var(--icon-color-focused);
}
.mod-left-split .workspace-tab-header.has-active-menu,
.mod-right-split .workspace-tab-header.has-active-menu,
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active {
  background: var(--background-switcher-active);
}

.mod-left-split .workspace-tab-header-spacer,
.mod-right-split .workspace-tab-header-spacer {
  display: none;
}

.mod-left-split .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header-inner {
  border-radius: 0;
}

/* Sidebar toggle buttons */
.sidebar-toggle-button.mod-right {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--ribbon-width);
  justify-content: center;
}

.sidebar-toggle-button.mod-left .clickable-icon,
.sidebar-toggle-button.mod-right .clickable-icon {
  color: var(--color-text-interactive);
}

.sidebar-toggle-button.mod-left .clickable-icon:hover,
.sidebar-toggle-button.mod-right .clickable-icon:hover {
  color: var(--color-text-interactive-hover);
}

.workspace-tab-header-tab-list {
  /* Tab list control makes space for sidebar control when sidebar is closed */
  margin-right: calc(var(--icon-size) * 2);
}

.is-right-sidedock-open .workspace-tab-header-tab-list {
  margin-right: 0;
}

.mod-right-split .workspace-tab-header-container {
  padding-right: 2.5rem;
}

/* Status bar */
.status-bar {
  border: none;
  border-top-left-radius: var(--radius-m);
  border-top-right-radius: var(--radius-m);
  gap: 0.5rem;
  padding: 0 0.5rem 0.25em 0;
  right: auto;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2em;
}
.status-bar-item {
  line-height: 1rem;
  padding: 0.25em 0.5em;
  width: auto;
  white-space: nowrap;
  gap: 0.25em;
  height: 100%
}
.status-bar-item:has(.status-bar-item) {
  padding: 0;
}
.status-bar-item.mod-clickable {
  color: var(--color-text-interactive);
}
.status-bar-item.mod-clickable:hover {
  color: var(--color-text-interactive-hover);

}
.theme-picker-color-scheme-icon > svg {
  fill: var(--color-text-interactive);
}
.theme-picker-color-scheme-icon:hover > svg {
  fill: var(--color-text-interactive-hover);
}
.status-bar-item:hover .sync-status-icon.mod-working {
  color: var(--text-normal);
}
.status-bar-item.plugin-editor-status, .status-bar-item.plugin-sync {
  padding: 0.25em 0.5em;
}

/* Search */
.workspace-leaf-content[data-type="search"] {
  padding: 0.5rem 1rem;
}
.search-row,
.search-info-container,
.search-params,
.search-results-info {
  margin: 0 0 0.5rem 0;
}
.search-params .setting-item {
  margin: 0;
}
.search-result-container.mod-global-search {
  padding-right: 0;
}
.search-results-info {
  border-bottom: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 1em;
  margin: 0;
}
.search-results-result-count {
}
.search-results-info .dropdown {
  border: none;
  box-shadow: var(--theme-shadow-control);
  background-color: var(--background-control);
  max-width: 12em;
  text-align-last: left;
}

/* Content references (search results, incoming/outgoing links, etc.) */
.search-result-file-matches {
  background: none;
  box-shadow: none;
  display: flex;
  gap: 1em;
  flex-direction: column;
  margin: 0;
}
.search-result-file-match,
.sync-history-list-item {
  background: var(--theme-color-contentItemBg);
  border: none;
  border-radius: var(--radius-s);
  box-shadow: none;
  color: var(--nav-item-color);
  font-weight: var(--nav-item-weight);
  padding: 0.5em 1em;
}
.search-result-file-match:hover,
.sync-history-list-item:hover {
  background: var(--theme-color-contentItemBgHover);
  color: var(--nav-item-color-hover);
  cursor: pointer;
  font-weight: var(--nav-item-weight-hover);
}
.search-result-hover-button:hover {
  color: var(--color-text-interactive-hover);
}
.sync-history-list-item.is-active {
  background: var(--theme-color-contentItemBgActive);
}
.search-result-file-matched-text {
  font-weight: bold;
}
.search-result:not(.is-collapsed) .search-result-file-title {
  color: var(--color-text-interactive);
}

/* Trees */
.tree-item-icon,
.tree-item-self .tree-item-icon {
  /* Icons that represent an object have the samer colour as the related text */
  color: inherit;
}

/* Prompt */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.prompt {
  background-color: var(--background-prompt);
}
input.prompt-input {
  background: var(--background-secondary);
  border-bottom: none;
}
input.prompt-input[type=text]:focus {
  border-bottom: none;
  box-shadow: none;
}
input[type='text'].prompt-input::placeholder {
  color: var(--theme-color-base);
}

.prompt-instructions {
  background: var(--background-secondary);
  border-top: 0;
}

/* Suggestions (Search, File Recovery) */
.suggestion-container,
.suggestion-container.mod-search-suggestion  {
  display: block;
  background-color: var(--theme-color-suggestionBg);
  border: none;
}
.suggestion-container.mod-search-suggestion .suggestion {
  background: transparent;
}
.suggestion-title.list-item-part {
  color: var(--text-normal);
}
.suggestion-aux {
  gap: 0.25em;
}
.suggestion-item.is-selected {
  background-color: var(--background-modifier-hover);
  color: var(--nav-item-color-active);
}
.suggestion-item.is-selected .suggestion-flair {
  color: var(--nav-item-color-active);
}

/* Hotkeys */
.suggestion-hotkey,
.setting-hotkey {
  color: var(--theme-color-hotkey);
  background: transparent;
  border: solid 1px var(--theme-color-hotkey);
}
.suggestion-item.is-selected .suggestion-hotkey {
  color: var(--theme-color-textSelected);
  border-color: var(--theme-color-textSelected);
}

/* Action lists */
.vertical-tab-header-group-title {
  color: var(--text-normal);
}
.horizontal-tab-nav-item,
.vertical-tab-nav-item {
  color: var(--color-text-interactive);
}

/* Standardised Controls */
/* Text fields */
.search-input-container input[type='search'],
input.document-search-input,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
textarea {
  box-shadow: 0 0 0 var(--input-border-width) var(--theme-color-base);
  border: none;
  background: var(--background-input);
}

.search-input-container input[type='search']:active,
.search-input-container input[type='search']:focus-visible,
.search-input-container input[type='search']:focus,
input.document-search-input:active,
input.document-search-input:focus-visible,
input.document-search-input:focus,
input[type='email']:active,
input[type='email']:focus-visible,
input[type='email']:focus,
input[type='number']:active,
input[type='number']:focus-visible,
input[type='number']:focus,
input[type='password']:active,
input[type='password']:focus-visible,
input[type='password']:focus,
input[type='search']:active,
input[type='search']:focus-visible,
input[type='search']:focus,
input[type='text']:active,
input[type='text']:focus-visible,
input[type='text']:focus,
textarea:active,
textarea:focus-visible,
textarea:focus {
  box-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-focus);
}

.search-input-container input[type='search']:hover,
input.document-search-input:hover,
input[type='email']:hover,
input[type='number']:hover,
input[type='password']:hover,
input[type='search']:hover,
input[type='text']:hover,
textarea:hover {
  box-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-focus);
}
textarea {
  padding: 1em;
}

/* Buttons */
button:not(.clickable-icon),
button:not(.clickable-icon).mod-cta {
  border: none;
  background: var(--background-control);
  box-shadow: var(--theme-shadow-control);
  color: var(--theme-color-controlText);
}
button:not(.clickable-icon):hover,
button:not(.clickable-icon).mod-cta:hover {
  border: none;
  background: var(--background-control-hover);
  color: var(--theme-color-controlTextHover);
}
button:not(.clickable-icon):focus,
button:not(.clickable-icon).mod-cta:focus {
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}

.search-input-container input::placeholder,
input.document-search-input::placeholder,
input[type='email']::placeholder,
input[type='number']::placeholder,
input[type='password']::placeholder,
input[type='search']::placeholder,
input[type='text']::placeholder,
textarea::placeholder {
  color: var(--theme-color-inputPlaceholder);
}

/* Selects */
select,
.setting-item-control select,
.search-results-info .dropdown {
  border: none;
  box-shadow: var(--theme-shadow-control);
  background-color: var(--background-control);
}
select:focus,
.dropdown:focus,
.search-results-info .dropdown:focus {
    box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
    outline: none;
}

/* Item lists */
body:not(.is-grabbing) .tree-item-self.is-clickable:hover,
.horizontal-tab-nav-item:hover,
.vertical-tab-nav-item:hover {
  color: var(--nav-item-color-hover);
  background-color: var(--nav-item-background-hover);
  font-weight: var(--nav-item-weight-hover);
}
.horizontal-tab-nav-item.is-active,
.vertical-tab-nav-item.is-active,
.nav-file-title.is-active,
.nav-folder-title.is-active {
  background-color: var(--interactive-accent);
  color: var(--nav-item-color-active);
}
body:not(.is-grabbing) .tree-item.nav-file .tree-item-self.is-active:hover,
.horizontal-tab-nav-item.is-active:hover,
.vertical-tab-nav-item.is-active:hover,
.nav-file-title.is-active:hover,
.nav-folder-title.is-active:hover {
  background-color: var(--interactive-accent);
  color: var(--nav-item-color-active);
}

/* Checkboxes */
.checkbox-container {
  background-color: var(--theme-color-checkboxBgOff);
}
.checkbox-container.is-enabled {
    background-color: var(--interactive-accent);
}
/* Modals */
.modal {
  padding: 1rem 0;
  overflow: hidden;
}
.modal-title {
  /* Space for modal-close-button in line with title */
  margin-left: calc(var(--size-2-3) + 2em);
  margin-right: calc(var(--size-2-3) + 2em);

  /* Align with top position for modal-close-button */
  margin-top: calc(var(--size-2-3) * -1);

  margin-bottom: 1em;

  font-size: var(--font-ui-medium);
  line-height: 1.125em;
}
.modal-title:empty + .modal-content {
  /* If the title is empty, apply the same top margin to the content */
  margin-top: calc(var(--size-2-3) * -1);
}
.modal-bg,
.modal,
.prompt,
.document-search-container {
  animation: 0.5s 1 alternate fadein;
}
.modal-sidebar,
.modal.mod-settings .vertical-tab-header {
  border-right: none;
  padding: 2.5em 1em 1em 1.5em;
  margin: 0;
  background: var(--modal-background-vertical-tab-header);
  color: var(--color-text-interactive);
}
.modal-button-container {
  margin-top: 1em;
  padding-left: calc(var(--size-2-3) + 2em);
  padding-right: calc(var(--size-2-3) + 2em);
}
.modal-content {
  margin: 0 0;
  /* Space for modal-close-button in line with title */
  padding-left: calc(var(--size-2-3) + 2em);
  padding-right: calc(var(--size-2-3) + 2em);
  overflow: auto;
}
.modal-content p {
  margin: 0 0 0.5em 0;
}
.modal-content p:last-child {
  margin-bottom: 0;
}
.mod-sidebar-layout .modal-content {
  padding: 0;
  margin: 0;
}

/* Help modal */
.modal.mod-canvas-help .modal-content {
  height: 100%;
  overflow: scroll;
  padding-right: 1em;
}

/* Community modal */
.mod-community-modal .modal-sidebar {
  padding: 0;
}
.mod-community-modal .community-modal-controls {
  background: var(--theme-color-settingsBg);
  padding: 2.5em 1em 1em 0;
}
.mod-community-modal .community-modal-controls .setting-item {
  padding: 0;
  margin-bottom: 0.5em;
}
.mod-community-modal .community-modal-controls .setting-item:first-child {
  /* Filter control */
  max-width: var(--modal-community-sidebar-width);
  margin-bottom: 0.5em;
}
.community-modal-search-summary {
  margin: 0;
  padding: 0;
}
.community-modal-details {
  border: none;
}
.community-modal-search-results-wrapper {
  background: var(--modal-background-search-results);
  border: 0;
}
.community-modal-search-results {
  padding: 1.5em;
  gap: 1.5em;
}
.community-item {
  border: none;
  box-shadow: var(--shadow-l);
  background: var(--theme-color-communityItemBg)
}
.community-item:hover {
  background: var(--theme-color-communityItemBgHover);
  color: var(--nav-item-color-hover);
  font-weight: var(--nav-item-weight-hover);
}
.community-item.is-selected,
.community-item.is-selected:hover {
  background: var(--theme-color-communityItemBgSelected)
}
.community-item.mod-active {
  background: var(--theme-color-communityItemBgActive)
}
.community-item.is-selected .flair.mod-pop,
.community-item.is-selected:hover .flair.mod-pop,
.community-item.mod-active .flair.mod-pop,
.community-item.mod-active:hover .flair.mod-pop {
  display: none;
}
.community-item.is-selected,
.community-item.is-selected:hover,
.community-item.is-selected .community-item-author,
.community-item.is-selected:hover .community-item-author,
.community-item.is-selected .community-item-repo,
.community-item.is-selected:hover .community-item-repo,
.community-item.is-selected .community-item-downloads,
.community-item.is-selected:hover .community-item-downloads,
.community-item.is-selected .community-item-updated,
.community-item.is-selected:hover .community-item-updated {
  color: var(--text-normal);
}
.community-item.mod-active .community-item-author,
.community-item.mod-active:hover .community-item-author,
.community-item.mod-active .community-item-repo,
.community-item.mod-active:hover .community-item-repo,
.community-item.mod-active .community-item-downloads,
.community-item.mod-active:hover .community-item-downloads,
.community-item.mod-active .community-item-updated,
.community-item.mod-active:hover .community-item-updated {
    color: var(--text-on-accent);
    opacity: 0.8;
}

/* Messages */
.mod-warning,
p.mod-warning,
.setting-message {
  background: var(--theme-color-baseVeryVeryLightened);
  border-radius: var(--clickable-icon-radius);
  font-size: var(--font-ui-small);
  padding: 0.5em 1em;
}
p.mod-warning,.setting-message + p.mod-warning,.setting-message {
  margin-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
p.mod-warning:has(+ p.mod-warning,.setting-message),
.setting-message:has(+ p.mod-warning,.setting-message) {
  border-top-left-radius: var(--clickable-icon-radius);
  border-top-right-radius: var(--clickable-icon-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Settings modal */
.modal.mod-settings .vertical-tab-header-group {
  border-right: none;
  padding: 0 0 1.5em 0;
}
.modal.mod-settings .vertical-tab-header-group-title {
  padding: 0 0.5em 0.5em 0.5em;
}
.mod-settings .vertical-tab-content {
  background: var(--theme-color-settingsBg);
  padding: 2em;
}
.modal-setting-nav-bar {
  border: none;
  padding: 0.5em 0 0 0;
}
.setting-item {
  /* Also used when editing bookmarks */
  border-top: none;
  padding: 0;
  margin-bottom: 1.5em;
}

/* Font settings modal */
.setting-font-list + .setting-item {
  border: none;
}

/* Document search */
.document-search-container,
.mod-active .document-search-container {
  background: var(--background-secondary);
  border-radius: var(--radius-l);
  box-shadow: var(--shadow-s);
  margin: 0 auto;
}
.document-search-button {
  border: none;
  color: var(--color-text-interactive);
}

/* Content area */
.view-content > .markdown-source-view.mod-cm6 > .cm-editor > .cm-scroller {
  padding: 1em 2em 3em 2em;
  padding: 0;
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  width: 100%;
}
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer .cm-contentContainer,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer > div:not(.mod-header):not(.mod-footer):not(.markdown-preview-pusher) {
  margin: 3rem auto;
  max-width: var(--file-line-width);
  padding: 0 2rem;
  width: 100%;
}
/* Override inline styles */
.cm-content {
  /* Live Preview */
  padding-bottom: 0 !important;
}
.markdown-preview-sizer {
  /* Reading Mode */
  padding-bottom: 0 !important;
}

/* Order in content area */
.inline-title {
  order: 0;
}
.metadata-container,
.setting-properties-position-above .is-live-preview .metadata-container {
  order: 1;
}
.setting-properties-position-below .is-live-preview .metadata-container {
  order: 3;
}
.setting-properties-position-below .is-live-preview .embedded-backlinks {
  padding: 0 2rem 0.5rem 2rem;
}
.cm-contentContainer {
  order: 2;
}
.embedded-backlinks {
  order: 3;
}

/* Consistent styles for inline metadata sections */
.metadata-container,
.embedded-backlinks {
  background: var(--metadata-property-background);
  border: 0;
  font-family: var(--font-interface);
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 0;
  transform: none;
  width: 100%;
}

/* Tab content header */
.view-header {
  height: auto; /* Don't use --header-height */
  justify-content: space-between;
  padding: 0.5em;
}

/* Inline title (i.e. filename) */
.inline-title {
  /* We don't need an extra inline title below the header. */
  display: none;
}
.view-header-title-container {
  display: none;
}
.show-inline-title .view-header-title-container {
  display: flex;
}
.view-header-title {
  display: none;
}
.show-inline-title.is-focused .workspace-leaf.mod-active .view-header-title  {
  /* Use the "Display Inline Title" setting to show/hide the title in the header. */
  display: block;
}

.view-header-title-parent .view-header-breadcrumb {
}
.view-header-title-parent .view-header-breadcrumb:hover {
  background: transparent;
  cursor: auto;
}

/* Properties */
.setting-properties-position-below .is-live-preview .metadata-container {
  padding: 0.5em 2em 0 2em;
}
.setting-properties-position-below .is-live-preview .metadata-container:has(~ .embedded-backlinks[style*="display: none"]) {
  padding-bottom: 0.5em;
}
.metadata-properties-heading .metadata-properties-title {
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-medium);
}
.view-content .metadata-properties-heading .collapse-indicator svg.svg-icon,
.view-content .metadata-properties-heading .is-collapsed .collapse-indicator svg.svg-icon {
  color: var(--color-text-interactive);
}
.metadata-properties-title {
  font-size: var(--font-ui-smaller);
  color: var(--text-faint);
  font-weight: var(--font-semibold);
  padding: 0;
  user-select: none;
}
.metadata-property {
  border: solid 2px transparent;
  box-shadow: none;
  display: flex;
  gap: 0;
}
.metadata-property:focus-within {
  background: var(--nav-item-background-hover);
  border-color: var(--nav-item-background-hover);
  box-shadow: none;
}
.metadata-property:hover {
  box-shadow: none;
}
.metadata-property .metadata-property-key {
  align-items: center;
  display: flex;
  gap: 0.5em;
}
.metadata-property .metadata-property-key:focus-within {
  background: transparent;
}
.metadata-property .metadata-property-key input {
  border: none;
  box-shadow: none;
  display: block;
  background: transparent;
  height: 100%;
}
.metadata-property .metadata-property-key input:focus,
.metadata-property .metadata-property-value:focus-within {
  border: none;
  background: var(--metadata-property-background);
}
.metadata-property-icon,
.metadata-property-icon:hover {
  background: transparent;
}
.metadata-property .multi-select-input {
  padding: var(--pill-padding-y) 0;
}

/* Multi-select pill */
.multi-select-pill {
  padding: var(--pill-padding-y) var(--pill-padding-x);
}
.multi-select-pill-remove-button {
  margin: 0;
  border-radius: 100%;
}
.multi-select-pill-remove-button:hover {
  background: var(--pill-background-remove-hover);
}

/* Toolbars */
.canvas-controls,
.graph-controls,
.graph-controls.is-close,
.graph-controls:not(.is-close),
.canvas-card-menu,
.canvas-menu,
.canvas-submenu {
  background: var(--controls-container-background);
  border: none;
  padding: 0.25rem;
  gap: 0;
  box-shadow: var(--theme-shadow-input);
  border-radius: 0.5rem;
}
.canvas-control-item,
.graph-controls-button,
.canvas-card-menu .canvas-card-menu-button {
  --icon-size: var(--icon-s);
  --icon-stroke: var(--icon-s-stroke-width);
  border-radius: var(--clickable-icon-radius);
  color: var(--color-text-interactive);
  opacity: var(--icon-opacity);
  background-color: transparent;
  border: none;
}
.canvas-control-item:hover,
.graph-controls-button:not(.mod-close):hover,
.canvas-card-menu .canvas-card-menu-button:hover {
  color: var(--color-text-interactive-hover);
  background-color: var(--background-modifier-hover);
}

/* Collapsible controls */
.metadata-properties-heading,
.embedded-backlinks .backlink-pane .tree-item-self,
.graph-controls .mod-collapsible,
.mod-collapsible,
.search-result-file-title {
  align-items: center;
  border-radius: var(--radius-s);
  color: var(--text-faint);
  font-size: var(--nav-item-size);
  font-weight: var(--font-medium);
  gap: 0;
  margin: 0;
  padding: 0.25em 0.5em;
  line-height: var(--line-height-tight);
  width: fit-content;
  display: flex;
}
.metadata-properties-heading:hover,
.embedded-backlinks .backlink-pane .tree-item-self:hover,
.graph-controls .mod-collapsible:hover,
.mod-collapsible:hover,
.search-result-file-title:hover {
  color: var(--nav-item-color-hover);
  background-color: var(--nav-item-background-hover);
  font-weight: var(--font-medium);
}
.metadata-properties-heading .collapse-indicator,
.embedded-backlinks .backlink-pane .tree-item-self .tree-item-icon,
.graph-controls .mod-collapsible .collapse-icon {
  color: var(--color-text-interactive);
  display: block;
  left: inherit;
  opacity: var(--icon-opacity);
  padding: 0;
  position: relative;
  width: var(--size-4-4);
}
.backlink-pane > .tree-item-self .collapse-icon,
.outgoing-link-pane > .tree-item-self .collapse-icon {
  display: block;
  margin-left: 0;
  position: relative;
}
.metadata-properties-heading .collapse-indicator svg,
.embedded-backlinks .backlink-pane .tree-item-self .tree-item-icon svg,
.graph-controls .mod-collapsible .collapse-icon svg {
  color: var(--color-text-interactive);
}
.metadata-content,
.embedded-backlinks .backlink-pane .search-result-container,
.graph-control-section .tree-item-children {
  margin: 0 1em 1em 1em;
  font-size: var(--font-ui-smaller);
}

/* Debug modal */
.modal-content:has(.debug-textarea) {
  /* Show shadow below buttons */
  overflow: visible;
}
.debug-textarea {
  margin-top: var(--input-border-width);
}
.debug-textarea + .modal-button-container {
  padding: 0;
}

/* Core Plugin: Audio Recorder */
audio::-webkit-media-controls-enclosure {
  border: none;
  background: transparent;
  padding: 0;
  border-radius: 0;
  max-height: none;
}
audio::-webkit-media-controls-panel {
  background: var(--controls-container-background);
  border: none;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

/* Core Plugin: Backlinks */
.backlink-pane > .tree-item-self {
  color: var(--color-text-interactive);
}
.backlink-pane .search-result:not(.is-collapsed) .search-result-file-title {
  color: var(--color-text-interactive);
}
.backlink-pane .search-result-container {
  margin-left: 1em;
}
.embedded-backlinks .backlink-pane .search-result-file-matches {
  background: none;
  box-shadow: none;
}
.embedded-backlinks {
  /* Terrible to use !important, but otherwise this gets an inline style enforcing a min height that can leave lots of unused space at the bottom. */
  min-height: 0 !important;
}
.setting-properties-position-below .is-live-preview .metadata-container[data-property-count="0"] ~ .embedded-backlinks {
  padding-top: 0.5rem;
}
.embedded-backlinks .backlink-pane {
  padding: 0;
}
.embedded-backlinks .backlink-pane .tree-item-self .tree-item-inner {
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-medium);
}
.embedded-backlinks .nav-buttons-container {
  top: 0;
  right: 0;
}
.embedded-backlinks .backlink-pane .search-result-file-title .tree-item-icon {
  position: relative;
  padding: 0;
  margin-left: 0;
  left: inherit;
}
.embedded-backlinks .backlink-pane .search-result-file-matches {
  margin-left: 1em;
}
.embedded-backlinks .backlink-pane .search-empty-state {
  margin: 0;
}
.embedded-backlinks .nav-header ~ .search-input-container {
    width: calc(100% - 150px);
    margin: 0 0 0 0;
}

/* Core Plugin: Bookmarks */
.view-action.mod-bookmark {
  --icon-color: transparent;
  color: var(--color-text-interactive);
}
.view-action.mod-bookmark:hover {
  color: var(--color-text-interactive-hover)
}

/* Core Plugin: Canvas */
.canvas-submenu {
  background: var(--background-interactive-active);
  top: calc(100% - 0.5em);
  box-shadow: none;
}
.canvas-card-menu .canvas-card-menu-button.mod-draggable:hover svg {
    transform: translateY(0);
    filter: none;
}
.canvas-controls {
  gap: 0.5em;
}
.canvas-control-group {
  background: transparent;
  border: none;
  box-shadow: none;
}

/* Core Plugin: Command Palette */
/*   No special styles: uses shared .prompt */

/* Core Plugin: Files */
.nav-files-container .nav-file-title {
  justify-content: space-between;
}
.nav-file-tag {
  background: transparent;
  border: solid 1px var(--nav-file-tag-border-color);
  color: var(--theme-color-navFileTag);
}
.nav-file-title.is-active .nav-file-tag {
  color: var(--theme-color-navFileTagActive);
  border-color: var(--theme-color-navFileTagActiveBorder);
}

/* Core Plugin: File Recovery */
.mode-sync-history {}
.sync-history-list-container {
  border: none;
}
.sync-history-list-item-container {}
.sync-history-content-container {
  background-color: var(--theme-color-settingsBg);
}
.sync-history-content .setting-item,
.sync-history-content .setting-item:first-child,
.mod-sync-history .sync-history-content-buttons {
  background-color: var(--theme-color-settingsBg);
  border: none;
  margin: 0;
  padding: 1em;
}

/* Core Plugin: Graph */
.graph-control-section {
  border: none;
  padding: 0.25rem;
}
.graph-controls .graph-controls-button {
  display: none;
}
.graph-controls-button.mod-close {
  border-radius: 100%;
  color: var(--color-text-interactive);
}
.graph-controls-button.mod-close:hover {
  color: var(--color-text-interactive);
}
.graph-controls .tree-item-self .tree-item-icon {
  margin: 0;
}
.workspace-leaf-content[data-type="graph"] .view-content {
  background-color: var(--theme-color-graphViewBg);
  margin-top: 6px;
  border-radius: var(--tab-radius);
}

/* Core Plugin: Note composer */
/*   No special styles: uses shared .prompt */

/* Core Plugin: Outgoing links */
.tree-item-self.is-clickable.outgoing-link-item {
  cursor: var(--cursor-link);
  text-decoration-line: var(--link-decoration);
  text-decoration-thickness: var(--link-decoration-thickness);
  color: var(--link-color);
}
.tree-item-self.is-clickable.outgoing-link-item .tree-item-inner-subtext {
    color: inherit;
    font-size: 85%;
}
body:not(.is-grabbing) .tree-item-self.is-clickable.outgoing-link-item:hover {
  background: transparent;
  color: var(--link-color-hover);
  font-weight: inherit;
  text-decoration-line: var(--link-decoration-hover);
}

/* Core Plugin: Page preview */
.popover {
  border: none;
  box-shadow: var(--shadow-l);
  padding: 0.5rem;
}
.popover.hover-popover {
  padding: 0.5rem;
}

/* Community Plugin: Style Settings */
.modal-style-settings {
  /* Show shadow below buttons */
  overflow: visible;
}
.modal-style-settings textarea {
  margin-top: var(--input-border-width);
}
.modal-style-settings .modal-content {
  padding-bottom: 1em;
  margin-bottom: -1em;
}
